
.DS_Store
data/.ipynb_checkpoints/Final_clean_US-checkpoint.ipynb
sample.html
data/.ipynb_checkpoints/Sample_N-checkpoint.ipynb
data/.USvideos.csv.icloud
data/sim1.txt
data/sim2.txt
data/.ipynb_checkpoints/similarity-checkpoint.ipynb
data/sim_final_raw.json
