/* detail */
* {box-sizing: border-box;}
.slider {
    width: 1120px;
    margin: 16px auto;}
.slick-slide {
  margin: 0px 20px;}
.slick-slide img {
  width: 100%;}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;}

.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}

#videodetail{
	height:480px; 
	margin-top:6px; 
	margin-bottom: 24px; 
	background-image: url(./figure/videodetail.svg);
	padding: 18px 20px 20px 20px;
}

.thumbnail {
	height:69px;
	width: 123px;
}

.thumbnail img{
	width: 123px;
	height: auto;
}

#videotitle{
	height:48px;
	margin-top: 4px
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

#channelname{
	margin-top: 12px;
	margin-bottom: 12px;
}

.tags{
	height:24px;
	list-style: none;
	padding: 0px;
}

.tags li{
	float:left;
	height:24px;
	padding-top:2px;
	padding-left: 10px;
	padding-right:10px;
	background-color: #1e1e1e;
	margin-right: 10px;
	border-radius: 5px;
}

.barselected{
	fill:#3EA6FF ;
    fill-opacity:1;
}

#categorychart .bar {
	fill: #85C0CE;
	fill-opacity: 0.3;
}

#linemouseover
{	stroke: #3EA6FF;
	stroke-width:2px;
	opacity: 1;	
	fill: none;
}
.lineselected
{	stroke: red;
	stroke-width:2px;
	opacity: 1;	
	fill: none;
}

.p_line {
	stroke: #85C0CE;
	opacity: 0.3;	
	fill: none;
}

#viewsline {
	stroke: #1C7E8C;
	opacity: 1;	
	fill: none;
	stroke-width:2px;
}

#dislikesline {
	stroke: #5D8931;
	opacity: 1;	
	fill: none;
	stroke-width:2px;
}

#likesline {
	stroke: #9D4747;
	opacity: 1;	
	fill: none;
	stroke-width:2px;
}

#tooltip {
	width: 300px;
	height: auto;
  text-align: center;
  line-height:21px;
  font-size:14px;
  font-family: "roboto";
  color: #fff;
  background: #555555;
  position: absolute;
  z-index: 10000;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: 100ms ease;
  -moz-transition: 100ms ease;
  -o-transition: 100ms ease;
  -ms-transition: 100ms ease;
  transition: 100ms ease;
}

.fixed-box {
	padding: 12px 16px 16px 16px;
border-radius : 5px; 
background-color: #282828;
position:fixed; 
bottom:0; 
right:0; 
width:250px; 
height:150px;
}

.settings{
	width:100px;
	float: left;
	margin: 4px 4px 4px 4px;
	color: white;
}

.settingvalue{
	width: 100px;
	float: left;
	margin: 4px 4px 4px 4px;
	    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#backtooverview{
	margin-top:12px;
	margin-left:48px;
  width: 120px;
  height:24px;
  border-radius: 4px;
  background-color:#007FF5;
  border-style: none;
  font-family: "roboto";
  color:#FFFFFF;
  font-size:12px;
}

#categorychart .bar,
#wordle text,
#parallelcoordinate .axis text,
.p_line{
		cursor: pointer;
}
#tohide path,
#tohide .tick{ 
	stroke: #282828;
	fill: none; 
	stroke-width: 0px};
