/* overview */
#logo {
    width: 62px;
    float:left;
    margin-top: 16px;
    margin-bottom: 22px;
}

#headline {
    margin-left: 20px;
}


.search input {  
    float:left;
    width: 528px; 
    height: 30px;
    border-radius: 5px 0 0 5px;  
    background: #282828;  
    border-style: none;
    text-indent: 10px;
    /* font size not changed here*/
    font-family: "roboto";
    font-size: 14px;
    color : #aaaaaa;
}  

.search input:focus {  
    outline:none;
    border-style: none;
    text-indent: 10px;
    font-family: "roboto";
    font-size: 14px;
    color : #ffffff;
}  

.search button {  
    top : 0;
    right: 0;
    width: 60px; 
    height: 32px;
    background: #404040;  
    border-radius: 0 5px 5px 0; 
    border-style :none; 
    outline: none;
}  

.search button:hover{
    background: #191919;
}

.search button:active{
    border-style: none;
    outline: none;
}

.search button:before {  
    content: "\f002";  
    font-family: FontAwesome;  
    font-size: 16px;  
    color: #ffffff;  
}  

.sort {
    margin-top: 24px;
    margin-bottom: 24px;
    height:32px;
}

.filter{
    height:176px;
    background-color: #282828;
    border-radius: 5px;
    margin-top: 24px;
}

.category, .timerange, .viewbreakdown{
    width:30%;
    height: 144px;
    float:left;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 16px;
}

table{
    padding-top: 12px;
}

tr td{
    padding-top: 6px;
    padding-bottom: 6px;

}


input[type="checkbox"] {
    visibility: hidden;
    margin: 0px;
    height:0px;
    width: 0px;
}
label {
  cursor: pointer;
}

circle {
  cursor:  pointer;
}


input[type="checkbox"] + label:before {
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  content: "\00a0";
  display: inline-block;
  font: 14px/1em roboto;
  font-weight: normal;
  margin: 0 0.8em 0 0;
  padding: 0;
  height: 12px;
  width: 12px;
}

[id="all"]:checked + label:before {
  background: #85c0ce;
  border:1px solid #85c0ce;
  text-align: center;
}

[id="c1"]:checked + label:before {
  background: #7CC237;
  border:1px solid #7CC237;
  text-align: center;
}

[id="c2"]:checked + label:before {
  background: #DE5555 ;
  border:1px solid #DE5555 ;
  text-align: center;
}

[id="c3"]:checked + label:before {
  background: #6D72E7;
  border:1px solid #6D72E7;
  text-align: center;
}

[id="c4"]:checked + label:before {
  background: #DEB75B;
  border:1px solid #DEB75B;
  text-align: center;
}

[id="c5"]:checked + label:before {
  background: #26BDD2;
  border:1px solid #26BDD2;
  text-align: center;
}

[id="c6"]:checked + label:before {
  background: #B155DE;
  border:1px solid #B155DE;
  text-align: center;
}

#slider {
    margin-top:16px;
    float:left;
    width: 300px; 
    height: 32px;
    border-radius: 5px;  
    background: #1e1e1e;  
    border-style: none;
    text-indent: 10px;
    /* font size not changed here*/
    font-family: "roboto";
    font-size: 14px;
    color : #aaaaaa;
}

#breakdownbutton{
  width: 160px;
  height:32px;
  border-radius: 5px;
  background-color:#007FF5;
  border-style: none;
  font-family: "roboto";
  color:#FFFFFF;
  font-size:14px;
}

#breakdownbutton{
  width: 160px;
  height:32px;
  border-radius: 5px;
  background-color:#007FF5;
  border-style: none;
  font-family: "roboto";
  color:#FFFFFF;
  font-size:14px;
}

#breakdownbutton:hover{
    background: #0065E1;
}

#breakdownbutton:active{
    background: #004BA7;
    border-style: none;
    outline: none;
}

#breakdownbutton:focus{
    border-style: none;
    outline: none;
}

.tooltip { 
    position: absolute;     
    text-align: center;     
    width: auto;          
    height: auto;
    padding: 10px;  
    font-family: "roboto";  
    font-size: 12px;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;   
}

/* .tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
 */      
.tooltip p {
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
} 

/* Line Animation */
.line {
        fill: none;
        stroke: #00A699;
        opacity: 0.5;
        stroke-width: 2px;
        stroke-dasharray:1000;
        stroke-dashoffset: 1000;
        animation: dash 2s linear forwards;
    }
    @keyframes dash{
        from{
            stroke-dashoffset: 1000;
        }
        to{
            stroke-dashoffset: 0;
        }
    }
