/* our design style*/
/* Category Color
#7CC237
#DE5555
#6D72E7
#DEB75B
#26BDD2
#B155DE

/* page */
.main{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}

/* font */
p {
    margin: 0px;
}

h1 {
    font-family: "roboto";
    font-weight: bold ;
    font-size: 34px;
    color : #ffffff;
    line-height: 2;
}

h2 {
    font-family: "roboto";
    font-weight: bold ;
    font-size: 20px;
    color : #ffffff;
    line-height: 2;
}

.body1 {
    font-family: "roboto";
    font-size: 16px;
    color : #ffffff;
    line-height: 1.5;
    margin:0;
}

.body2 {
    font-family: "roboto";
    font-size: 14px;
    color : #aaaaaa;
    line-height: 1.5;
}

.textbutton {
    font-family: "roboto";
    font-weight: bold;
    font-size: 16px;
    color : #3ea6ff;
    line-height: 1.5;
}

.similarvideo {
    font-family: "roboto";
    font-size: 16px;
    color : #3ea6ff;
    line-height: 1.5;
}

/* axis */
.axis text {
    fill: #aaaaaa;
}

.axis path,
.axis line {
    stroke: #aaaaaa;
}

.axisLabel {
    fill: #ffffff;
    font-size: 12px;
    font-family: "roboto";
    text-anchor: middle;
}

/* lab4 original codes
.planet {
    fill-opacity: 0.4;
    stroke: #fff;
    stroke-width: 0.5;
    stroke-opacity: 0.6;
}

.planet-label {
    fill: #ccc;
    font-size: 11px;
}

.axis text {
    fill: #ccc;
}

.axis path,
.axis line {
    stroke: #ccc;
}

.axisLabel {
    fill: #ccc;
    font-size: 11px;
    text-anchor: middle;
}

body {
    font-family: "Open Sans";
    margin: 0;
    background-color: #000;
}

#main {
    margin: 0;
}